.top-section{
    display: flex; 
    
}

.special-font{
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 35;
    border-left: 5px solid red;
    padding: 8px;
}

.top-left{
    width: 50%;
    margin-left: 15%;
    padding: 10px 20px;
    
    
}

.top-right{
    width: 50%;
    padding: 20px;
    margin-right: 10px;
    margin-top: 20px;
}

.top-right img {
    width: 55%;
    margin-left: 20px;
}

#orange{
    color: orange;

}

.button-style{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 8px;
}

.text-focused{
    
    font-family:sans-serif;
    text-align: justify;
}

.centered {
    text-align: center;
    font-size: 20;
    
}

.container {
    display: flex;
    justify-content: center;
    margin: 2% 10%;
}

.container img {
    width: 125px;
}

.left-container {
    background-color: rgb(108, 196, 196);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 33%;
}

.middle-container {
    background-color: lightsteelblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 33%;
    
}

.right-container {
    background-color: lightsalmon;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 33%;
}

.text-reduced{
    font-size: 16px;
}

.face-mask{
    display: flex;
    margin: auto;
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
   
    
}

.face-mask-left{
    width:50%;
    margin-left: 170px;
    
   
}

.face-mask-left img {
    width: 380px;
    border-radius: 15px;
    margin-top: 15px;
    
}

.face-mask-right{
    width:50%;
    margin-right: 70px;
   
    
}

.special-font2{
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 27;
    
   
}

.vaccination {
    display: flex;
   
}

.vaccination-left{
    width:50%;
    margin-left: 170px;
}

.vaccination-right img {
    width: 380px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15%;
    
}

.vaccination-right{
    width:50%;
    margin-right: 70px;
     
}

.dark {
    background-color: black;
    padding: 1px;
    text-align: center;

    }

.footer-text {
    color: white;
}

#red {
    color:red;
}

.special-font3{
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 24;

}

.covid{
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightyellow;
    box-shadow: 8px 6px 4px grey;
    padding: 15px;

}

.covid img {

    width: 280px;
    height: 200px;
    border-radius: 15px;
    
}

.covid-left {
    width: 25%;
    
    margin-left: 10px;
}

.covid-middle {
    width: 50%;
    padding: 20px;
    text-align: justify;
}

.covid-right {
    width: 25%;
}

.bonus-text{
    color: rgb(21, 48, 99);
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lobster', cursive;

}




